<html>
  <head>
    <title>hookah admin</title>
    <link rel="stylesheet" href="style.css"/>
  </head>
  <body>
    <h1>hookah admin</h1>
    <h2>Create subscription</h2>
    <form method="post" action="subscribe">
      <div>Callback URL (POST target):
      <input type="text" name="hub.callback"/></div>
      <div>Topic: <input type="text" name="hub.topic"/></div>
      <div>Mode: <select name="hub.mode">
      <option value="subscribe">subscribe</option>
      <option value="unsubscribe">unsubscribe</option>
      </select></div>
      <div>Verify: <select name="hub.verify">
      <option value="sync">sync</option>
      <option value="async">async</option>
      </select></div>
      <div><input type="submit" value="Submit"/></div>
    </form>
    <h2>Current subscriptions</h2>
    <dl>%(subscriptionList)s</dl>
    <h2>Sample post</h2>
    <form method="post" action="dispatch">
      <p>Post to /dispatch:</p>
      <ul>
	<p>_topic=<input type="text" name="_topic"/></p>
	<p>x=<input type="text" name="x"/></p>
      </ul>
      <p><input type="submit" value="Submit"/></p>
    </form>
  </body>
</html>