<html>
  <head>
    <title>hookah admin</title>
    <link rel="stylesheet" href="style.css"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"/></script>
    <script type="text/javascript">
      // <![CDATA[
      $(function() {
	  submits = $("#subscriptionList input[type=submit], #createForm input[type=submit]");

	  submits.click(function () {
	      var submit = $(this);
	      var form = submit.closest("form");
	      var res = submit.next();
	      res.text("Submitting...");
	      submit.attr("disabled", true);
	      $.ajax({
		  type: "POST",
		  url: form.attr("action"),
		  data: form.serialize(),
		  complete: function (xhr, textStatus) {
		      submit.attr("disabled", false);
		      if (textStatus == "success") { 
			  res.text("Refreshing this page");
			  location.reload();
		      } else {
			  res.text(textStatus + ": " + xhr.responseText);
		      }
		  }
	      });
	      return false;
	  });

      });
      // ]]>
    </script>
  </head>
  <body>
    <h1>hookah admin</h1>
    <h2>Create subscription</h2>
    <form method="post" action="subscribe" id="createForm">
      <div>Callback URL (POST target):
      <input type="text" name="hub.callback"/></div>
      <div>Topic: <input type="text" name="hub.topic"/></div>
      <div>Mode: <select name="hub.mode">
      <option value="subscribe">subscribe</option>
      <option value="unsubscribe">unsubscribe</option>
      </select></div>
      <div>Verify: <select name="hub.verify">
      <option value="sync">sync</option>
      <option value="async">async</option>
      </select></div>
      <div>
	<input type="submit" value="Submit"/>
	<div class="submitResult"> </div>
      </div>
    </form>
    <h2>Current subscriptions</h2>
    <dl id="subscriptionList">%(subscriptionList)s</dl>
    <h2>Sample post</h2>
    <form method="post" action="dispatch">
      <p>Post to /dispatch:</p>
      <ul>
	<p>_topic=<input type="text" name="_topic"/></p>
	<p>x=<input type="text" name="x" value="1" size="3"/></p>
      </ul>
      <p><input type="submit" value="Submit"/></p>
    </form>
  </body>
</html>